#bar2 {
	vertical-align: middle;
	width:248px;
	padding: 5px 10px 5px 5px;
	background-color: #FFFFFF;
	padding: 5px 10px 5px 5px;
	height: 150px;
	border: 1px solid #CECECE;
	margin:0px auto;
}

#bar {
	width:248px;
	text-align:left;
	padding:10px;
	/* border:1px dashed #333; */
	background-color:#eee;
}

#headerMenu {
	float: left;
	height: 75px;
	vertical-align: bottom;
	margin: 0px auto;
}

#headerLogo {
	float: left;
	width: 15%;
	font-style: normal;
	font-size: 14px;
	font-weight: bold;
}


#headerLogin {
	float: right;
	padding-top: 58px;
}
